@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert @(ViewBag.Message.Contains("success") ? "alert-success" : "alert-warning")" role="alert">
        @ViewBag.Message
    </div>
}

@if (!string.IsNullOrEmpty(ViewBag.TrackingMessage))
{
    <div class="alert alert-info" role="alert">
        @ViewBag.TrackingMessage
    </div>
}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="card container overflow-auto">
                <div class="card-body container">
                    <h5 class="card-title">Laporan Jam Minus P5M</h5>
                    <hr />
                    @if (TempData["SuccessMessage"] != null)
                    {
                        <div class="row">
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <i class="bi bi-check-circle me-1"></i>
                                <strong>Sukses!</strong> @TempData["SuccessMessage"]
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <form method="post" class="row" enctype="multipart/form-data">
                            <div class="form-group col-4" id="filterAfterChoose">
                                <input type="file" name="file" id="fileInput" />
                            </div>
                            <div class="form-group col-5" style="visibility:hidden">
                                <input type="submit" asp-controller="Home" asp-action="Index" formmethod="post" class="btn btn-success" value="Upload Excel File" id="submitButton" />
                            </div>
                          
                        </form>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body" id="dataHistory">
                                @await Html.PartialAsync("_ImportStatusPartial")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var fileInput = document.getElementById("fileInput");
        var submitButton = document.getElementById("submitButton");

        fileInput.addEventListener("change", function () {
            if (fileInput.files.length > 0) {
                submitButton.style.visibility = "visible";
            } else {
                submitButton.style.visibility = "hidden";
            }
        });
    });
</script>
