@model P5M.Models.LiburModel

@{
    ViewData["Title"] = "Edit Libur";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Edit Libur</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" asp-controller="Libur" asp-action="Edit">
                            <input type="hidden" asp-for="id" />
                            <div class="form-group">
                                <label asp-for="tanggal" class="control-label">Tanggal</label>
                                <input asp-for="tanggal" class="form-control" name="tanggal" type="date" />
                                <span asp-validation-for="tanggal" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="deskripsi" class="control-label">Deskripsi</label>
                                <input asp-for="deskripsi" class="form-control" name="deskripsi" />
                                <span asp-validation-for="deskripsi" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="kategori" class="control-label">Kategori</label>
                                <select asp-for="kategori" class="form-control" name="kategori">
                                    <option value="Libur" selected="@Model.kategori == " Libur"">Libur</option>
                                    <option value="Dispensasi" selected="@Model.kategori == " Dispensasi"">Dispensasi</option>
                                </select>
                                <span asp-validation-for="kategori" class="text-danger"></span>
                            </div>

                            <br />
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Simpan</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
